{% extends 'base2.html' %}
{% load static %}
{% block title %} Advice Seekers {% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/advice-seekers.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<style>
  input[type="range"]:focus {
    border: none;
  }

  .yes-no-radio-title {
    margin-bottom: 5px;

  }

  .radio-btns-option {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }

  input[type="radio"] {
    position: absolute;
    left: -9000px;
  }

  input[type="radio"]:checked+.radio-label {
    background: #d9d9d9;
    color: #fff;
  }

  .radio-label {
    display: inline-block;
    border: 2px solid #d9d9d9;
    border-right: none;
    padding: 8px 30px;
    margin: 0;
    cursor: pointer;
  }

  .radio-label:hover {
    background: #d9d9d9;
    color: #fff;
  }

  .radio-btns-option:first-of-type .radio-label {}

  .radio-btns-option:nth-of-type(2n) .radio-label {
    border-right: 2px solid #d9d9d9;

  }

  .range {
    height: 80px;
    border-radius: 10px;
    padding: 0 65px 0 45px;
  }

  .sliderValue {
    position: relative;
    width: 100%;
  }

  .sliderValue span {
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(-70%) scale(0);
    font-weight: 500;
    top: -40px;
    line-height: 55px;
    z-index: 2;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }

  .sliderValue span.show {
    transform: translateX(-70%) scale(1);
  }

  .sliderValue span:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #664AFF;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }

  .field .value {
    position: absolute;
    font-size: 18px;
    color: #595959;
    font-weight: 600;
  }

  .field .value.left {
    left: -32px;
  }

  .field .value.right {
    right: -63px;
  }

  .range input[type='range'] {
    overflow: hidden;
    width: 200px;
    -webkit-appearance: none;
    background-color: #fff9db;
    padding: 0px;
  }

  .range input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #2034a1;
    margin-top: -1px;
  }

  .range input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #374ba5;
    box-shadow: -200px 0 0 200px #f74343;
    appearance: none;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
  }

  /* range input{
    -webkit-appearance: none;
    width: 100%;
    height: 9px;
    background: #ddd;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #162c9b;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #162c9b;
    cursor: pointer;
  }
  input[type=range] {
        -webkit-appearance: none;
        -moz-apperance: none;
        height: 9px;

        background-image: -webkit-gradient(linear,
            left top, 
            right top, 
            color-stop(60%, #ff5126),
            color-stop(60%, #eeeeee));

        background-image: -moz-linear-gradient(left center,
            #ff5126 0%, #ff5126 60%,
            #eeeeee 60%, #eeeeee 100%);
    }
  .range input::-webkit-progress-value {
    background: #ff6e4a; 
    content: '';
    pointer-events: none;
  } */
</style>
{% endblock %}


{% block content %}

<section class="signin-section">
  <div class="container ">
    <div class="row justify-content-md-center">
      <div class="card-wrapper">

        <div class="card fat">
          <h2 class="card-title " style="text-align: center;">Advice seekers</h2>

          <div class="card-body">
            <form method="POST" class="my-login-validation" novalidate="" enctype="multipart/form-data" action="">
              {% csrf_token %}
              {{form.non_field_error}}

              <div class="form-group">
                <label for="email">E-Mail </label>
                {{form.email}}
                {{form.email.errors}}
                <div class="invalid-feedback">
                  Your email is invalid
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                {{form.password1}}
                {{form.password1.errors}}
                <div class="invalid-feedback">
                  Password is required
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                  {{form.password2}}
                  {{form.password2.errors}}
                <div class="invalid-feedback">
                  Password is required
                </div>
              </div>

              <div class="form-group">
                <label for="fullname">Username*</label>
                {{form.username}}
                {{form.username.errors}}
                <div class="invalid-feedback">
                  Your fullname is invalid
                </div>
              </div>

              <div class="form-group">
                <label for="fullname">Full Name*</label>
                {{form.full_name}}
                {{form.full_name.errors}}
                <div class="invalid-feedback">
                  Your fullname is invalid
                </div>
              </div>

              <div class="form-group">
                <label for="age">Age</label>
                {{form.age}}
                {{form.age.errors}}
                <div class="invalid-feedback">
                  Age is required
                </div>
              </div>
              <div><label for="sel1">Region*</label>
                {{form.region}}
                {{form.region.errors}}

              </div>

              <div class="form-group">
                <div class="yes-no-radio-container">
                  <div class="yes-no-radio-title"> Are you Employed?*</div>
                  <div class="radio-btns">
                    <span class="radio-btns-option">
                      {{form.is_employed}}
                      {{form.is_employed.errors}}<label class="radio-label"
                        for="radio-yes">Yes</label>
                    </span>
                    <span class="radio-btns-option">
                      <input type="radio" name="yes-no-radio" value="no" id="radio-no"><label class="radio-label"
                        for="radio-no">No</label>
                    </span>
                  </div>
                </div>
              </div>
              <br>

              <div class="form-group">
                <label for="occupation">Occupation*</label>
                {{form.occupation}}
                  {{form.occupation.errors}}
                <div class="invalid-feedback">
                  Your Occupation is invalid
                </div>
              </div>
              <div class="form-group">
                <label for="customRange2" class="form-label">Your salary range*</label>
                <div class="range">
                  <div class="sliderValue">
                    <span>100</span>
                  </div>
                  <div class="field">
                    <div class="value left">
                      0</div>

                      {{form.salary}}
                      {{form.salary.errors}}
                    <div class="value right" style="margin-left:0px">
                      100000</div>


                  </div>
                  <p style="text-align: center;">Value: <span id="demo"></span></p>

                </div>
              </div>
              <div class="form-group"><label for="sel1">Region*</label>
                {{form.region}}
                {{form.region.errors}}

              </div>


              <div class="form-group">
                <label for="phone">Enter your phone number:</label>
                {{form.number}}
                  {{form.number.errors}}
              </div>
              <div class="form-group" id="buttons">
                <p style="color: #595959;">Profile Picture</p> <span class=" btn btn-primary btn-file upload">
                  Add photo
                  {{form.profile_pic}}
                  {{form.profile_pic.errors}}

                </span>
                <a href="" class="btn" id="delete" style="color: white;"> Delete</a>

              </div>

              <div class="form-group m-0">
                <input type="submit" value="Save" class="save-btn btn  btn-primary btn-block">
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>

<script>
  //       $("input[type=range]").mousemove(function (e) {
  //     var val = ($(this).val() - $(this).attr('min')) / ($(this).attr('max') - $(this).attr('min'));
  //     var percent = val * 100;

  //     $(this).css('background-image',
  //         '-webkit-gradient(linear, left top, right top, ' +
  //         'color-stop(' + percent + '%, #ff5126), ' +
  //         'color-stop(' + percent + '%, #eeeeee)' +
  //         ')');

  //     $(this).css('background-image',
  //         '-moz-linear-gradient(left center, #ff5126 0%, #ff5126 ' + percent + '%, #eeeeee ' + percent + '%, #eeeeee 100%)');
  // }); 

  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value;

  slider.oninput = function () {
    output.innerHTML = this.value;
  }


</script>
{% endblock %}