{% extends 'base2.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<style>
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    * {
        padding: 0;
        margin: 0;
    }

    form {
        padding: 1rem;
        max-width: 400px;
        margin: 1em auto;
    }

    i {
        color: #162c9b;
    }

    .select {
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        margin-bottom: 1em;
    }

    .select:after {
        content: "▼";
        color: #162c9b;
        padding: 28px 4px 12px;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
    }

    .select__field {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;


        outline: none;
        font-size: 16px;
        -webkit-appearance: none;
        /* for webkit browsers */
        -moz-appearance: none;
        /* for firefox */
        appearance: none;

        /* for modern browsers */
    }


    /* remove default caret for ie */

    .select__field::-ms-expand {
        display: none;
    }

    .select__field:focus:invalid {
        border-color: #FD6347;
    }

    .select__field:required:valid {
        border-color: #006400;
    }

    .btn-submit {
        color: #fff;
        display: block;
        padding: 15px;
        text-transform: uppercase;
        background: #535C69;
        width: 100%;
        border: none;
        border-radius: 3px;
    }

    .pen {
        padding-bottom: 10px;
        padding-right: 2px;
        width: 70px;
        text-align: right;
        float: right;
        margin-right: 10px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
        color: #162c9b;
    }
</style>
{% endblock %}

{% block content %}
<section class="signin-section">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="card-wrapper">

                <div class="card fat">
                    <h2 class="card-title " style="text-align: center;">Profile</h2>

                    <div class="card-body ">
                        <form method="POST" class="my-login-validation" novalidate="" action=""
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.non_field_error}}

                            <div class="form-group">
                                <label for="email" style="color: #595959;">Email </label>
                                {{form.email}}
                                {{form.email.errors}}
                                <div class="invalid-feedback">
                                    Your email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fullname">Username*</label>
                                {{form.username}}
                                {{form.username.errors}}
                                <div class="invalid-feedback">
                                    Your fullname is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fullname">Full Name*</label>
                                {{form.full_name}}
                                {{form.full_name.errors}}
                                <div class="invalid-feedback">
                                    Your fullname is invalid
                                </div>
                            </div>
                            <div class="form-group select"><label for="sel1" style="color: #595959;">Region*</label>
                                <select class="form-control select__field" id="sel1">
                                    <option value="" disabled selected>Region</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="age">Company</label>
                                {{form.company}}
                                {{form.company.errors}}
                                <div class="invalid-feedback">
                                    Age is required
                                </div>
                            </div>

                            <div class="form-group select"><label for="sel1" style="color: #595959;">Type of
                                    financial advice*</label>
                                <select class="form-control select__field" id="sel1">
                                    <option value="" disabled selected>Financial Advice</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="phone">Enter your phone number:</label>
                                  {{form.number}}
                                  {{form.number.errors}}
                              </div>
                            <div class="form-group" id="buttons">
                                <p style="color: #595959;">Profile Picture</p> <span
                                    class=" btn btn-primary btn-file upload">
                                    Add photo{{form.profile_pic}}
                                    {{form.profile_pic.errors}}

                                </span>
                                <a href="" class="btn" id="delete" style="color: white;"> Delete</a>

                            </div>
                            <div class="form-group m-0">
                                <input type="submit" value="Save changes" class="save-btn btn  btn-primary btn-block">

                            </div>
                            <hr>
                            <a href="{% url 'account:log-out' %}"><p class="sign-btn  btn btn-primary btn-block">Sign out</p></a>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>
{% endblock %}