{% extends 'base2.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<style>
</style>
{% endblock %}

{% block content %}
<section id="cover" class="min-vh-100" style="margin-bottom: 100px;">
    <div id="cover-caption">
      <div class="container">
        <div class="row text-white">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 mb-5" style="max-width: 743px;
        ">
            <h1 class="display-4 py-2 text-truncate" style="color: black;
            font-weight: 400;
            font-size: 55px;">Profile</h1>
            <div class="px-2">
                <form method="POST" class="my-login-validation" novalidate="" action=""
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.non_field_error}}

                            <div class="form-group">
                                <label for="email" style="color: #595959;">Email </label>
                                {{form.email}}
                                {{form.email.errors}}
                                <div class="invalid-feedback">
                                    Your email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fullname">Username*</label>
                                {{form.username}}
                                {{form.username.errors}}
                                <div class="invalid-feedback">
                                    Your fullname is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fullname">Full Name*</label>
                                {{form.full_name}}
                                {{form.full_name.errors}}
                                <div class="invalid-feedback">
                                    Your fullname is invalid
                                </div>
                            </div>
                            {% if request.user.is_seeker %}
                            <div class="form-group">
                                <label for="customRange2" class="form-label">Your budget*</label>
                
                                      {{form.salary}}
                                      {{form.salary.errors}}
                
                
                                </div>
                            {% else %}
                            <div class="form-group">
                                <label for="occupation">Estimated budget range*</label>
                                <div style="display: flex;">
                                  {{form.start_budget}}
                                    {{form.start_budget.errors}}
                                    --
                                    {{form.end_budget}}
                                    {{form.end_budget.errors}}
                
                                </div>
                              </div>
                              {% endif %}

                            <div class="form-group">
                                <label for="phone">Enter your phone number:</label> <br>
                  <img id="usa" src="{% static 'images/US.png' %}" alt="USA">
                  <p class="numb-1">+1 </p> 
                                  {{form.number}}
                                  {{form.number.errors}}
                              </div>
                            <div class="form-group" id="buttons">
                                <p style="color: #595959;">Profile Picture</p>
                                <div class="image"> <img  id="profileImage" src="{{ request.user.profile_pic.url }}" class="rounded" width="51"> </div> <span
                                    class=" btn btn-primary btn-file upload">
                                    

                    Add photo{{form.profile_pic}}
                                    {{form.profile_pic.errors}}
                                    

                                </span>
                                <a href="" class="btn" id="delete" style="color: white;"> Delete</a>

                            </div>
                            <div class="form-group m-0">
                                <input type="submit" value="Save changes" class="save-btn btn  btn-primary btn-block">

                            </div>
                            <hr>
                            <a href="{% url 'account:log-out' %}"><p class="sign-btn   btn-block">Sign out</p></a>
                        </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- <section class="signin-section">
    <div class="container ">
        <div class="row justify-content-md-center">
            <div class="card-wrapper">

                <div class="card fat">
                    <h2 class="card-title " style="text-align: center;">Profile</h2>

                    <div class="card-body ">
                        <form method="POST" class="my-login-validation" novalidate="" action=""
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.non_field_error}}

                            <div class="form-group">
                                <label for="email" style="color: #595959;">Email </label>
                                {{form.email}}
                                {{form.email.errors}}
                                <div class="invalid-feedback">
                                    Your email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fullname">Username*</label>
                                {{form.username}}
                                {{form.username.errors}}
                                <div class="invalid-feedback">
                                    Your fullname is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fullname">Full Name*</label>
                                {{form.full_name}}
                                {{form.full_name.errors}}
                                <div class="invalid-feedback">
                                    Your fullname is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone">Enter your phone number:</label>
                                  {{form.number}}
                                  {{form.number.errors}}
                              </div>
                            <div class="form-group" id="buttons">
                                <p style="color: #595959;">Profile Picture</p> <span
                                    class=" btn btn-primary btn-file upload">
                                    Add photo{{form.profile_pic}}
                                    {{form.profile_pic.errors}}

                                </span>
                                <a href="" class="btn" id="delete" style="color: white;"> Delete</a>

                            </div>
                            <div class="form-group m-0">
                                <input type="submit" value="Save changes" class="save-btn btn  btn-primary btn-block">

                            </div>
                            <hr>
                            <a href="{% url 'account:log-out' %}"><p class="sign-btn  btn btn-primary btn-block">Sign out</p></a>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section> -->
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>
{% endblock %}