{% extends 'base2.html' %}

{% load static %}

{% block title %}Sign In{% endblock %}

{% block css %}
<style>
    .container {
	 max-width: 80rem;
	 width: 100%;
	 height: auto;
	 padding: 0 2rem;
	 margin: 0 auto;
}
</style>
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-12 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Sign In</h1>
                    <div class="px-2">
                        <form method="POST" class="my-login-validation" novalidate="">
                            {% csrf_token %}
                            {{form.non_field_error}}
                            <!-- {{form.username}}
                            {{form.username.errors}} -->
                            
                            <div class="form-group">
                                <label for="email">Username </label>
                                {{form.username}}
                                {{form.username.errors}}
                                <div class="invalid-feedback">
                                    Your username is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">E-Mail </label>
                                {{form.email}}
                                {{form.email.errors}}
                                <div class="invalid-feedback">
                                    Your email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                {{form.password}}
                                {{form.password.errors}}
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>



                            <div class="form-group m-0">
                                
                                <input class="btn btn-primary btn-block" type="submit" value="Sign In">
                            </div>
                            <p style="text-align: center; margin-top:21px;">
                                or
                            </p>
                            <div class="mt-4 text-center">
                                <a id="signup" href="{% url 'account:register' %}">Sign up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}