{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %} Fibility {% endblock %}

{% block content %}

<!-- Who we are section Start -->
<section id="whoWeare">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left-w">
        <img width="100%" src="{% static 'images/Group.png' %}" alt="Group">
      </div>
      <div class="col-md-6 right-w">
        <h2>We Are Here For You</h2>
        <p>We help you make reasonable decisions when it <br> comes to spending money, not <br>
          irrational ones.
        </p>
        {% if request.user.is_authenticated %}
        {% if request.user.is_advisor == False  %}
        <a href="{% url 'core:matched-advisors' %}"
        style="max-width: 150px; height: 50px;  color: #162C9B; text-decoration: none; border: 1px solid #162C9B!important;"
        class="d-flex flex-row justify-content-center align-items-center border"><span
          style="margin-right: 10px;">Match</span>
        <img class="pl-2" width="" height="" src="{% static 'images/Group 251.png' %}" alt="arrow"></a>
        
        {% endif %}
        {% else %}
        <a href="{% url 'account:login' %}"
          style="max-width: 150px; height: 50px;  color: #162C9B; text-decoration: none; border: 1px solid #162C9B!important;"
          class="d-flex flex-row justify-content-center align-items-center border"><span
            style="margin-right: 10px;">Match</span>
          <img class="pl-2" width="" height="" src="{% static 'images/Group 251.png' %}" alt="arrow"></a>
        {% endif %}
        
      </div>
    </div>
  </div>
</section>
<!-- Who we are section End -->
<!-- About us Section Start -->
<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left-w about-left">
        <h2>About Us</h2>
        <p class="aboutus-text">{{aboutus.text}}
        </p>
      </div>
      <div class="col-md-6  about-right">
        <img width="100%" src="{% static 'images/Group 252.png' %}" alt="Group">

      </div>
    </div>
  </div>
</section>
<!-- About us Section End -->
<!-- Timeline section Start -->
<section id="time-l">
  <h3>
    How it works
  </h3>
  <p style="text-align: center;">We help the world’s leading organizations follow their shipping</p>
  <div class="timeline">
    <div class="container-t left">
      <div class="content">
        <div style="float: left;">
          <img class="time1" src="{% static 'images/one.png' %}" alt="Photo">
        </div>
        <div class="text-work" style="margin-top: 20px; margin-left: 120px;">
          <b style="color: #373F41;">Fill out five questions</b>
        </div>

      </div>
    </div>
    <div class="container-t right">
      <div class="content">
        <div style="float: left;">
          <img class="time1" src="{% static 'images/two.png' %}" alt="Photo">
        </div>
        <div class="text-work" style="margin-top: 20px; margin-left: 120px;">
          <b style="color: #373F41;">Get matched with an advisor</b>
        </div>

      </div>
    </div>
    <div class="container-t left">
      <div class="content">
        <div style="float: left;">
          <img class="time1" src="{% static 'images/three.png' %}" alt="Photo">
        </div>
        <div class="text-work" style="margin-top: 20px; margin-left: 120px;">
          <b style="color: #373F41;">Receive our services</b>
        </div>

      </div>
    </div>


  </div>

</section>
<!-- Timeline section End -->
<!-- More on us  section Start -->
<section class="more" id="moreonus">
  <div class="container">
    <div class="row">
      <div clas="col-12">
        <h2 id="more-on-us">Our why </h2>
        <p id="more-on-us-text">
          {{moreonus.text}}
        </p>
      </div>
    </div>
  </div>

</section>
<!-- More on us section End -->
{% endblock %}