{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %} Fibility {% endblock %}

{% block content %}
<!-- Who we are section Start -->
<section id="whoWeare">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left-w">
        <img width="100%" src="{% static 'images/Group.png' %}" alt="Group">
      </div>
      <div class="col-md-6 right-w">
        <h2>We Are Here For You</h2>
        <p>We help you make reasonable decisions when it <br> comes to spending money, not <br>
          irrational ones.
        </p>
        <a href="{% url 'core:matched-advisors' %}">Match <img width="" height="" src="{% static 'images/Group 251.png' %}" alt="arrow"></a>
      </div>
    </div>
  </div>
</section>
<!-- Who we are section End -->
<!-- About us Section Start -->
<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left-w about-left">
        <h2>About Us</h2>
        <p>{{aboutus.text}}
        </p>
      </div>
      <div class="col-md-6  about-right">
        <img width="100%" src="{% static 'images/Group 252.png' %}" alt="Group">

      </div>
    </div>
  </div>
</section>
<!-- About us Section End -->
<!-- Timeline section Start -->
<section id="time-l">
  <h3>
    How it works
  </h3>
  <p>We help the world’s leading organizations follow their shipping</p>
  <div class="timeline">
    <div class="container-t left">
      <div class="content">
        <img src="{% static 'images/1.png' %}" alt="">
        <img class="time1" src="{% static 'images/one.png' %}" alt=""> <b style="color: #373F41;">Fill out five
          questions</b>
        <p>At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.</p>
      </div>
    </div>
    <div class="container-t right">
      <div class="content">
        <img src="{% static 'images/2.png' %}" alt="">
        <img class="time1" src="{% static 'images/two.png' %}" alt="">
        <b>Get matched with an advisor</b>

        <p>At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.</p>
      </div>
    </div>
    <div class="container-t left">
      <div class="content">
        <img src="{% static 'images/3.png' %}" alt="">
        <img class="time1" src="{% static 'images/three.png' %}" alt="">
        <b>Receive our services for free</b>
        <p>At eripuit signiferumque sea, vel ad mucius molestie, cu labitur iuvaret vulputate sed.</p>
      </div>
    </div>


  </div>

</section>
<!-- Timeline section End -->
<!-- More on us  section Start -->
<section class="more">
  <div class="container">
    <div class="row">
      <div clas="col-12">
        <h2 id="more-on-us">More on us</h2>
        <p id="more-on-us-text">
          {{moreonus.text}}
        </p>
      </div>
    </div>
  </div>

</section>
<!-- More on us section End -->

{% endblock %}